.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.image-container {
  margin 0: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.image {
  margin: 5px;
}

.img {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-radius: 50%;
}
